// Google Fonts 
@import url('https://fonts.googleapis.com/css?family=Oswald:200|Roboto:200|Lato:300');

// Fallback fonts
@font-face {
  font-family: 'Lato-fallback';
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Oswald-fallback';
  src: url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-fallback';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}