<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="footer-social-media-icons-container">
        <a class="icon" href="<%= data.site.social_media.github %>" target="_blank"><i class="fa fa-github github""></i></a>
        <a class="icon" href="<%= data.site.social_media.instagram %>" target="_blank"><i class="fa fa-instagram instagram"></i></a>
        <a class="icon" href="<%= data.site.social_media.twitter %>" target="_blank"><i class="fa fa-twitter twitter"></i></a>
        <a class="icon" href="<%= data.site.social_media.linkedin %>" target="_blank"><i class="fa fa-linkedin linkedin"></i></a>
      </div>
      <div class="footer-social-media-text-container">
        <p> Created using the Motion template for Middleman </p>
      </div>
    </div>
  </div>
</footer>
