<% wrap_layout :layout do %>
  <div class="general-page">
    <section class="section">
      <div class="container">
        <div class="general-page-content content">
          <%= yield %>  
        </div>
      </div>
    </section>
  </div>
<% end %>
