---
title: Page not found
layout: error_layout
---

<section class="hero is-info is-fullheight section">
  <div class="hero-title">
    <div class="container">
      <h1 class="title has-text-centered" style="font-family: 'Oswald'; sans-serif">
        Page Not Found!
      </h1>
    </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="center">
            <img src="<%= responsive_image('404.png') %>" alt="Error Image" class="image" style="width: 25%;">  
          </div>
          <div class="section">
            <a href="/" class="button is-transparent has-text-white">Go back</a>
          </div>
        </div>
        
      </div>
      
  </div>
</section>
